<?xml version="1.0"?>
<!--
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End User Software Agreement (EULA).
 * It is also available through the world-wide-web at this URL:
 * http://www.netiksolutions.com/license
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to eula@netiksolutions.com so we can send you a copy immediately.
 * 
 -->
<!-- app/code/local/Netiksolutions/Service/etc/config.xml -->
<config>
    <modules>
        <Netiksolutions_Service>
            <version>1.0.0</version>
        </Netiksolutions_Service>
    </modules>
    <global>
		<blocks>
			<page>
				<rewrite>	
					<html_header>Netiksolutions_Service_Block_Html_Header</html_header>
				</rewrite>
			</page>
		</blocks>
    </global>
</config>