<?xml version="1.0"?>
<config>
	<modules>
		<IcebergCommerce_TagAdmin>
            <version>1.1.3</version>
        </IcebergCommerce_TagAdmin>
    </modules>
    <global>
        <helpers>
            <tagadmin>
                <class>IcebergCommerce_TagAdmin_Helper</class>
            </tagadmin>
        </helpers>
        <blocks>
             <tagadmin>
                <class>IcebergCommerce_TagAdmin_Block</class>
             </tagadmin>
        </blocks>
        <models>
             <tagadmin>
                <class>IcebergCommerce_TagAdmin_Model</class>
             </tagadmin>
        </models>
	</global>
	<adminhtml>
        <layout>
            <updates>
                <tagadmin>
                    <file>tagadmin.xml</file>
                </tagadmin>
            </updates>
        </layout>
        <events>
    		<catalog_product_prepare_save>
                <observers>
                    <tagadmin_observer>
                        <class>tagadmin/observer</class>
                        <method>prepareSaveTags</method>
                    </tagadmin_observer>
                </observers>
            </catalog_product_prepare_save>
            <catalog_product_save_after>
                <observers>
                    <tagadmin_observer>
                        <class>tagadmin/observer</class>
                        <method>saveTags</method>
                    </tagadmin_observer>
                </observers>
            </catalog_product_save_after>
    	</events>
    </adminhtml>
</config>
