.header-container {
	border: none;
	background-color: #00DCC5;
	background-image: none;
}
.header .links a {
	color: #FFF;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	
}
.header .links li {

}
button.red-btn span {
	background-color: #FF524D;
	border-radius: 15px;
	border:none;
	padding: 5px 10px;
}
.header-container {
	height: 60px;
}
.header {
	height: 40px;
}
.header h1.logo {
	margin: -5px;
}
.header .quick-access {
	padding-top: 0px;
}
.header .links {
	padding-top: 20px;
}
.footer-container {
	border-top: 0px;
}
.main {
	background: none;
}
.main-container {
	background-image: none;
}
.footer-container {
	background-color: #303030;
	min-height: 550px;
}
.mt-fb-block .block-title {
	background-image: none;
	border: none; 
}
.mt-fb-block .block-title strong {
	color: #82CECA; 
}
.mt-fb-block {
	border: 0px;
}
.main-container {
	background-color: #FFF;
}
div.mt-ft-block {
	width: 250px; 
	float: right;
}
ul.social-media-ul li {
	padding: 0px;
}