
.clear{
 width:100%;
 height:0px;
 clear:both;
 font-size:0px;
 line-height:0px;
}

#sociallogin_button{
	margin-top:10px;
}
#bt-loginfb-popup  {
	background: url('sociallogin/connectFB.png') no-repeat; 
	width: 200px;
}
#bt-logingo-popup {
	background: url('sociallogin/connectGO.png') no-repeat; 
	width: 200px; 
}
#sociallogin_button #bt-loginfb span, #bt-loginfb-popup span{
    height: 45px;
    /*background: url("sociallogin/connectFB.png") no-repeat;*/
    display: block;
    float: left;
}

#sociallogin_button #bt-logingo span, #bt-logingo-popup span{
    height: 41px;
    /*background: url("sociallogin/google.png") no-repeat;*/
    display: block;
    float: left;
}
#sociallogin_button #bt-loginper span, #bt-logintw-popup span{
    height: 32px;
    background: url("sociallogin/persona.png") no-repeat;
    display: block;
    float: left;
}
#sociallogin_button #bt-loginse span, #bt-loginya-popup span{
    height: 32px;
    background: url("sociallogin/stackexchange.png") no-repeat;
    display: block;
    float: left;
}


#sociallogin_button #bt-logintw span, #bt-loginaol-popup span{
    height: 32px;
	background: url("sociallogin/twitter.png") no-repeat;
    display: block;
    float: left;
}
#sociallogin_button #bt-loginwp span, #bt-loginwp-popup span{   
	background: url("sociallogin/wordpress-login-button.png") no-repeat;  
}
#sociallogin_button #bt-loginya span, #bt-loginya-popup span{
    height: 32px;
	background: url("sociallogin/yahoo.png") no-repeat;
    display: block;
    float: left;
}
/* by Hai Ta */
#sociallogin_button #bt-loginaol span, #bt-loginaol-popup span{    
	background: url("sociallogin/aol-login-button.png") no-repeat;  
}
#sociallogin_button #bt-loginwp span, #bt-loginwp-popup span{   
	background: url("sociallogin/wordpress-login-button.png") no-repeat;  
}
#sociallogin_button #bt-logincal span, #bt-logincal-popup span{    
	background: url("sociallogin/clavid-login-button.png") no-repeat;    
}
#sociallogin_button #bt-loginorg span, #bt-loginorg-popup span{    
	background: url("sociallogin/orange-login-button.png") no-repeat;    
}
#sociallogin_button #bt-loginmp span, #bt-loginmp-popup span{    
	background: url("sociallogin/myspace-login-button.png") no-repeat;    
}
#sociallogin_button #bt-loginlive span, #bt-loginlive-popup span{    
	background: url("sociallogin/live-login-button.png") no-repeat;    
}
#sociallogin_button #bt-loginfq span, #bt-loginfq-popup span{    
	background: url("sociallogin/foursquare-login-button.png") no-repeat;   
}

#sociallogin_button #bt-loginlinked span, #bt-loginlinked-popup span{    
	background: url("sociallogin/linkedin-login-button.png") no-repeat;   
}

#sociallogin_button #bt-loginopen span, #bt-loginopen-popup span{    
	background: url("sociallogin/myOpenId-login-button.png") no-repeat;   
}

#sociallogin_button #bt-loginlj span, #bt-loginlj-popup span{    
	background: url("sociallogin/Livejournal.png") no-repeat;   
}


#sociallogin-other-div{	
	display: block;	
	float: right;      
}
#sociallogin-other-a{
	width: 91px;
	display: block;
}
.sociallogin-other{
	display: block;	
	float: right;
    position: relative;
    width: 100%;
}
.sociallogin-other-span{
	cursor: pointer;    
	font-weight: bold;
    white-space: nowrap;
}

.sociallogin-other-span-img-popup{	
	float: right;
	width: 26px;
	height: 16px;
	cursor: pointer;        
	background: url("sociallogin/other-login.png") no-repeat right;		

}

.other-button{
	margin: 7px 3px 5px 4px;
}
.sociallogin-other-button{	
    width: auto;
	max-width:528px;
}
button.bt-login-social{background:none;border:none;cursor: pointer;}
button.bt-login-social span{	
	height:33px;
	line-height:27px;
	color:#fff;
	padding:0 0 0 33px;
	float:left;
	}
button.bt-login-social span span{
	background-position:100% 0 !important;
	padding-right:10px !important;
	padding-left:5px !important;
	min-width: 110px;
	}
button.bt-login-social.visible span span {
	min-width: 90px;
	}
	
/* change poppup */
#magestore-popup{
	padding: 25px;
    position: fixed;
    width: 706px;
    z-index: 9990;
	background: #fff;
	border: 2px;
	border-radius: 7px;
}
#magestore-login-social{
	/*float: right;*/
	width: 100%;
	text-align: center;
	height: 100px;
	border-bottom: 1px solid #D7D7D7; 
}
#bg_fade {
    background-color: #000000;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 1000;
	opacity: 0.3;
}
#sociallogin-close{
	cursor: pointer;
    height: 20px;
    position: absolute;
    right: 15px;
    top: 10px;   
    z-index: 9999;
}
#sociallogin-close:hover{
	text-decoration: underline;
}
#magestore-login-form{
	/*width: 400px;*/
	min-height: 60px;
	margin-top: 14px; 
}
.magestore-loign-h3{
	margin-top: 25px; 
	margin-bottom: 18px;
	border-bottom: 1px solid #D7D7D7;
	font-family: 'Conv_UniversLTStd BoldCn' ,Arial,Helvetica,sans-serif;
    font-size: 15px;
	padding-bottom: 3px;
	font-weight: normal;
}
a#magestore-forgot-password {
	font-family: 'Conv_UniversLTStd BoldCn' ,Arial,Helvetica,sans-serif;
    font-size: 11px;
	padding-bottom: 3px;
	font-weight: normal;
	color: #313232;
	text-decoration: none; 
}
.magestore-login-input-box{
	height: 30px;
	width:125px;
	float:left;
	margin: 5px 5px 12px 5px; 
}
.login-label{
	float: left;	
	padding-top: 5px;
    width: 35%;
	font-weight: bold;
	color: #666;
}
.login-label em{
	color: red;
}
.sociallogin-input-box{
	float: right;
	width: 130px;
	margin-bottom: 12px;
}
.sociallogin-input-box .input-text{
	border: 1px solid #CCCCCC;
    border-radius: 8px;
    box-shadow: 0 2px 2px #E3E3E3 inset;
    font-family: inherit;
    font-size: 1.1em;
    margin: 0;
    padding: 5px 4px;
    width: 130px;
	height: 28px;
}
.magestore-login-popup-button{
	float: right;
	width: 125px; 
}
#magestore-forgot-password, #magestore-forgot-back{
	font-size: 10px;
	float: left;
}
#magestore-forgot-back{
	margin-right: 40px;
}
.popup_click_btn{
	float: right;
}
.magestore-login-input-box  .login-label em{	
}
.ajax-login-image{
	background: url("sociallogin/opc-ajax-loader.gif") no-repeat scroll 0 0 transparent;
	width: 16px;
	height: 16px;
	margin: 5px 0 5px 152px;
}
.magestore-invalid-email{
	margin-left: 152px;
	color: red;
}

#sociallogin-forgot{
	margin-bottom : 20px;
}
.magestore-sociallogin-create-new-customer{
	float: left;	
	clear: both;
	height: 0px; 
}
.magestore-sociallogin-create-new-customer a{	
	margin-left: 10px;
	font-weight: bold;
}
.sociallogin-field{
	width: 218px !important;
	float: left;
}
.sociallogin-field .input-text{
	width: 201px !important;
	border-radius: 8px;
	height: 30px;
}
#magestore-create-back{
	font-size: 10px;
}
.sociallogin-other-button-popup{
	float: left;
}
#magestore-button-sociallogin span span {
	width: 80px; 
}